body {
    font-family: serif;              /* standard-font  */
    background-color: white;
}

#typsnitt1{
    font-family: Ubuntu, serif;       /* serif = reservval  */
}

#typsnitt2{
    font-family: Poppins, serif;    /* serif = reservval  */
    outline: 5px solid blue;
}

#typsnitt3{
    font-family: Quicksand, serif;    /* serif = reservval  */
}

